@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;0,500;1,400&display=swap");


.App {
  text-align: center;
}

.App-header {
  
  font-family: 'Newsreader', serif;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  color: black;
  border-bottom: 1px solid black;
}

.post__section--container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}

.post__section--header {
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.post__section--header--selector {
  height: 3vh;
  width: 20%;
  font-size: calc(6px + 2vmin);
  margin-top: 10px;
}

.post__section--post {
  overflow-y: scroll;
  margin-bottom: 5px;
}

.section__news {
  align-items: center;
  justify-content: center;
  max-height: 85vh;
}

.section__news--post {
  margin: auto;
  border-bottom: 1px solid black;
  margin: 10px 10px;
  width: 90%;
}

.section__news--post--title {
  height: 10vh;
}


.post__title {
  font-size: calc(8px + 3vmin);
  font-family: 'Newsreader', serif;
  font-weight: bolder;

}

.post__body {
  height: calc(9px + 20vh);
  width: 100%;
  text-align: justify;
  margin-top: 20px;
  font-family: 'Newsreader', serif;
}

.post__tags {
  text-align: left;
  margin-bottom: 10px;
}

.post__tags--tags {
  display: inline;
}

@media only screen and (min-width: 300px) {
  .post__section--post {
    overflow-y: scroll;
    margin-bottom: 5px;
  }

  .post__title {
    font-size: calc(9px + 3vmin);
  }
  
}

@media only screen and (min-width: 500px) {

  .post__section--post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
/* 
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    max-height: 87vh;
     */
  }  

  .section__news--post {
    width: 400px;
  }

  .post__title {
    font-size: calc(9px + 2vmin);
  }

}
/* 
@media only screen and (min-width: 850px) {


  .post__section--post {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    max-height: 88vh;
  }  

  .post__body:hover {
    transform: scale(1.1);
  }

  .post__title {
    font-size: calc(8px + 1.5vmin);
  }

  .post__section--header--selector {
    height: 2vh;
    width: 15%;
    font-size: calc(4px + 1vmin);
  }

}

@media only screen and (min-width: 1024px) {

  .post__section--post {
    display: grid;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    max-height: 88vh;
  }  

  .post__title {
    font-size: calc(7px + 1.5vmin);
  }

  .post__body {
    height: calc(9px + 50vh);

  }

}

 */