.App {
  text-align: center;
  
}

.App-header {
  background-color: #909296e5;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  color: black;
}

.section-articles {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  min-height: 80vh;
  overflow-y: scroll;
}

.section-header {
  align-items: center;
  justify-content: center;
}

.section-selector {
  height: 5vh;
  width: 100%;
}
.section-news {
  align-items: center;
  justify-content: center;
 
}

.singleNews {
  margin: auto;
  border: 1px solid black;
  width: 90%;
}

.article-title {
  height: 3vh;
  vertical-align: middle;
  border-bottom: 1px solid black;
}

.article-body {
  height: 25vh;
  width: 100%;
  padding-left: 0px 2px 0px 2px;
  border-bottom: 1px solid black;
  overflow-y: scroll;
}

.footer-tag {
  margin-bottom: 2px;
}

.article-tags {
  display: inline;
}




@media only screen and (min-width: 550px) {

  .section-news {
    display: flex;
    overflow-x: scroll;
  }

.singleNews {
  width: 100vh;
}  


}

@media only screen and (min-width: 850px) {
  .section-news {
    display: flex;
    
    overflow-x: scroll;
  }
}
